* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-base-white: #ffffff;
  --color-base-gray-100: #e1e1e6;
  --color-base-gray-200: #8c8c99;
  --color-base-gray-300: #7c7c8a;
  --color-base-gray-400: #323238;
  --color-feedback-success-color: #1d8841;
  --color-produto-blue-light: #60A4EC;
  --color-produto-blue-mid: #1B3556;
  --color-produto-blue-inter:#1e293b;
  --color-background-fundo:#121215;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-produto-blue-mid);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-produto-blue-light);
}

@keyframes entering {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body
 {
  background-color: var(--color-background-fundo);
  color: var(--color-base-gray-100);
  font-family: "Roboto", sans-serif;
  
  display: grid;
  grid-template-areas: 'profile timeline';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}
nav {
  padding: 32px;
  grid-area: timeline;
  
  overflow-y: scroll;

}

.title-itens h1 {
  font-size: 2rem; /* 32/16 = 2 */
  text-align: center;
  margin-bottom: 2rem;
 
}

aside {
  grid-area: profile;
  background-image: url("./assets/background.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-right: 1px solid;
  border-image: linear-gradient(var(--color-produto-blue-mid) , var(--color-produto-blue-light)) 1;
}

aside * {
  animation: entering 0.7s ease-in-out;
}

aside img:nth-child(2) {
  /* o nth-child é para selecionar a 2 imagem no caso o segundo filho */
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box, linear-gradient(260deg,#d39e33, #ed5636, #633bbc) border-box;
}

aside p {
  font-size: 1rem;
  text-align: center;
}

aside span {
  font-size: 0.75rem;
  color: var(--color-base-gray-200);
}

/*MENU*/

.menu {
  /* Adicionando as configurações para alinhar os elementos lado a lado */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-bottom: 32px;
}

.menu li {
  /* Ajustando a largura dos itens do menu */
  flex-basis: calc(25%); /* Divide a largura em 3 colunas e subtrai o espaçamento */
  text-align: center;
  margin-left: 2rem;
}

.menu a {
  color: var(--color-base-gray-100);
  text-decoration: none;
}

.menu a:hover {
  color: var(--color-produto-blue-light);
}


/*Configração da Main */

main{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-bottom: 32px;
  justify-content: center;
}

/*Configurações da cad.Itens*/

form {
  margin-top: 8rem;
  justify-content: center;

}

.input-wrapper {
  position: relative;
}

.input-wrapper + .input-wrapper {
  margin-top: 16px;
}


.label-wrapper {
  justify-content: space-between;
}

.label-wrapper label + a {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

input::placeholder {
  color: var(--color-base-gray-300);
}

input {
  

  background: var(--color-base-white);
  border: 0.1rem;
  border-radius: 2rem;

  padding: 1.6rem 1.2rem;

  margin-top: 0.8rem;

  font-size: 1.4rem;
  line-height: 2.1rem;

  color: var(--color-produto-blue-inter);
}

input:focus,
input:hover {
  border: 0.1rem solid var(--color-produto-blue-light);
  outline: 0;
}

input:disabled {
  opacity: 0.35;
}

::-ms-reveal {
  display: none;
}

form {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

form button {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;

  background: var(--color-produto-blue-mid);
  border-radius: 0.4rem;

  width: 100%;

  font-weight: bold;
  color: var(--color-base-white);

  margin-block: 3.2rem;
}

form button:focus {
  outline: 0.2rem solid var(--color-base-gray-100);
  border-radius: 0.2rem;
 
}

form button:hover {
  background: var(--color-produto-blue-mid);
}

.input-wrapper {
  position: relative;
}

.input-wrapper input[type="text"] {
  padding-right: 2.5rem;
}


/*Configurações de cadastro de itens */

.step-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
  border-bottom: 1px;
  padding-bottom: 3.2rem;
  counter-reset: step;
}

.step-progress strong {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-base-gray-200);
}

.step-progress strong.active {
  color: var(--color-base-gray-100);
}

.step-progress strong::before {
  counter-increment: step;
  content: counter(step);
  font-size: 0,875rem;
  background-color: var(--color-base-gray-100);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-base-gray-200);
}

.step-progress .active::before {
  background-color: var(--color-produto-blue-mid);
  color: var(--color-base-white);
}

.step-progress .done::before {
  content: '✔';
  background-color: var(--color-feedback-success-color);
}

.content {
  margin-top: 3.2rem;
  display: grid;
  gap: 1.6rem;
}

.button-wrapper {
  margin-top: 3.2rem;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1,4rem;
  border-radius: 0.5rem;
  font-weight: 700;
  min-width: 13.8rem;
}

.primary {
  background-color: var(--color-produto-blue-mid);
  color: var(--color-base-white);
}

.primary:hover {
  background-color: var(--color-produto-blue-light);
}

.secondary {
  background-color: var(--color-produto-blue-light);
  color: var(--color-base-white);
  border: 1px solid var(--color-produto-blue-mid);
}

.justify-end {
  justify-content: flex-end;
}



textarea { 
  font-family: "Titillium Web", sans-serif;
  width: 100%;
  margin-top: 4px;
  padding: 1.5rem;
  background-color: var(--color-base-white);
  border-radius: 0.2rem;
}

input::placeholder,
textarea::placeholder {
  color:  var(--color-base-white);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  margin-bottom: 0.8rem;
}

.input-wrapper input {
  padding: 1rem;
  border: 1px solid var(--color-produto-blue-mid);
  border-radius: 0.1rem;
  font-size: 1.5rem;
}

.input-wrapper input::placeholder {
  color: var(--color-produto-blue-light);
}

.button-wrapper.justify-end {
  justify-content: flex-end;
}

.form-step{
  display: none;
}

.form-step.active{
  display: block;
}

@keyframes appear {
  0% {
    scale: .7;
    opacity: 0;
  }
}

@keyframes slideout {
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

form {
  overflow: hidden;
}

.form-step {
  animation: slideout 200ms ease-in-out forwards;
}

.form-step.active {
  animation: appear 200ms 100ms ease-in-out both;
}

.hide {
  display: none;
}

/* Configurações para dispositivos móveis */
@media (max-width: 760px) {
  :root {
    font-size: 14px;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "profile"
      "timeline";
      
  }

  main {
    justify-content: center;
    padding-right: 0;
  }

  aside {
    border-right: none;
    padding: 32px 12px;
  }

  nav {
    overflow-y: visible;
    padding: 15px;
  }

  .menu {
    flex-wrap: nowrap; /* Evita quebra de linha */
    overflow-x: auto; /* Adiciona rolagem horizontal */
  }

  .menu li {
    flex: 0 0 auto; /* Remove flex-basis */
    width: 100px; /* Largura fixa para cada item do menu */
    margin-left: 1rem; /* Remove margem esquerda */
    text-align: center;
  }
  
}